name: Continuous integration
on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ '**' ]
  schedule:
    - cron: '0 2 * * *'
jobs:
  ubuntu:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [ 16, 18, 20, 22, 24, 25 ]
    steps:
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'

    - name: Install distutils compatibility
      run: pip install setuptools

    - name: Checkout Git Source
      uses: actions/checkout@v6

    - name: Setup Node.js
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install Dependencies
      run: npm i

    - name: Continuous integration
      run: npm run debug-test
  macos:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [ 16, 18, 20, 22, 24, 25 ]
    steps:
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'

    - name: Install distutils compatibility
      run: pip install setuptools

    - name: Checkout Git Source
      uses: actions/checkout@v6

    - name: Setup Node.js
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install Dependencies
      run: npm i

    - name: Continuous integration
      run: npm run debug-test
