name: Publish Package to GitHub Repository

on:
  release:
    types: [created]

jobs:
  ubuntu:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [ 16, 18, 20, 22, 24, 25 ]
    steps:
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'

    - name: Install distutils compatibility
      run: pip install setuptools

    - name: Checkout Git Source
      uses: actions/checkout@master

    - name: Setup Node.js
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
        registry-url: 'https://npm.pkg.github.com'
        scope: '@rchervot'

    - name: Install Dependencies
      run: npm i

    - name: Publish package
      run: npm publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.v8-profiler }}
  macos:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [ 16, 18, 20, 22, 24, 25 ]
    steps:
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'

    - name: Install distutils compatibility
      run: pip install setuptools

    - name: Checkout Git Source
      uses: actions/checkout@master

    - name: Setup Node.js
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
        registry-url: 'https://npm.pkg.github.com'
        scope: '@rchervot'

    - name: Install Dependencies
      run: npm i

    - name: Publish package
      run: npm publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.v8-profiler }}
